

.active{
    background-color: rgb(218, 233, 247);
    border-radius: 20px;
}
.layout{
    width: 100%;
    position: relative;
    gap: 30px;
    min-height: 100vh;
    padding: 50px;
    margin-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.child{
    width: 100%;
    margin:0px
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.last{
    align-self: flex-end;
    margin-top: auto;
}
#wrapper.toggled {
    padding-left: 250px;
}
.sidebar-brand img{
    width: 40px;
}
#sidebar-wrapper {
    z-index: 1000;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0px;
    list-style: none;
    margin-top: 100px;
    
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(178, 178, 249, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #1a1919;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}