.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .wrp{
justify-content: space-around;
gap:-20px;
    margin:30px;
    display: flex;
    background: #444444;
    padding: 30px;
    min-height: 100%;
  }
  .body{
background: #040404;
  }